*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 50vw;
    margin: auto;
    padding: 1em;/
}

h1{ 
    padding: 20px;
    text-align: center ;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border: 1px solid grey;
    padding: 0.2em;
    background: white;
    border-radius: 3px;
    margin: 0.9em auto;
}
#user{
    border: none;
    flex-grow: 1;
    outline: none;
}
button{
    color: white;
    background-color: rgba(0, 0, 255, 0.87);
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background-color: #0000cc;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    border: 1px solid grey;
    border-radius: 3px;
}
.upcard{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.avatar{
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0.8em;
    background-size: cover;
}
.downcard{
    border-top:1px solid grey;;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.downcard div{
    margin: 5px;
    padding:13px ;
}
.downcard div p:first-child{
    color: grey;  
}
.info{
    flex-grow: 1;
    margin: 0.5em;
    padding: 0.5em;
}
.info p{
    line-height: 1.7em;
}
.name{
    color: rgba(0, 0, 0, 0.671);
    margin-top: -7px;
}
.loginname{
    font-weight: bold;
}
